[submodule "mods/lord/nodes_dump"]
	path = mods/lord/nodes_dump
	url = https://github.com/lord-server/nodes_dump
[submodule "mods/_various/ambience"]
	path = mods/_various/ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "mods/_various/worldedit"]
	path = mods/_various/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
