[submodule "mods/lord/nodes_dump"]
	path = mods/lord/nodes_dump
	url = https://github.com/lord-server/nodes_dump
[submodule "mods/_minetest_game/wool"]
	path = mods/_minetest_game/wool
	url = https://github.com/minetest-game-mod/wool
[submodule "mods/_minetest_game/sfinv"]
	path = mods/_minetest_game/sfinv
	url = https://github.com/minetest-game-mod/sfinv
[submodule "mods/_minetest_game/screwdriver"]
	path = mods/_minetest_game/screwdriver
	url = https://github.com/minetest-game-mod/screwdriver
[submodule "mods/_minetest_game/sethome"]
	path = mods/_minetest_game/sethome
	url = https://github.com/minetest-game-mod/sethome
