# Linting via luacheck

name: Lint (luacheck)

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo recursively
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 30

      - name: Install LuaCheck
        run: |
          sudo apt-get install luarocks
          luarocks install --local luacheck

      - name: Run linter
        run: |
          $HOME/.luarocks/bin/luacheck .

      # As for now there is excluded files.
      # As the project https://github.com/orgs/lord-server/projects/7/views/3 progresses these exclusions will be removed.
      - name: Check Cyclomatic Complexity
        run: |
          $HOME/.luarocks/bin/luacheck . --max-cyclomatic-complexity 10 \
            --globals lottachievements races throwing \
            --exclude-files \
              mods/lord/World/Generation/icicles/ \
              mods/lord/Entities/throwing/ \
              mods/lord/Entities/npc/ \
              mods/lord/Entities/lottthrowing/ \
              mods/lord/Blocks/lottplants/ \
              mods/lord/Entities/lottmobs/ \
              mods/lord/Game/lottachievements/ \
              mods/lord/Game/lord_classes/ \
              mods/lord/_overwrites/MTG/default/ \
              mods/lord/World/mountgen/ \
              mods/lord/Tools/lottpotion/ \
              mods/lord/Tools/lord_replacer/ \
              mods/lord/Tools/lord_money/ \
              mods/lord/Tools/lord_books/ \
              mods/lord/Tools/lord_boats/ \
              mods/lord/Core/lordlib/ \
              mods/lord/Blocks/lottblocks/ \
              mods/lord/Blocks/lord_homedecor/ \
              mods/lord/Blocks/protector_lott/
